
  
  
<%= image_tag(
    'pexels-toni-cuenca-616836.jpg',
    id: "background",
    class:"font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover") %>
 

<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl">Add a new Cocktail</h3>

        </section>

        <section class="mt-10">
            <%= simple_form_for @cocktail do |f| %>
                <div class="mb-6 pt-3 rounded bg-gray-200">
                   
                    <%= f.input :name, class:"bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
                </div>
                <div class="mb-6 pt-3 rounded bg-gray-200">
                   <%= f.input :photo %>
                </div>
       <%= f.button :submit, class:"bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" %>
               <%= link_to "Cocktails", cocktails_path, class: "bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full"%>
               <% end %>
               
        </section>
    </main>
